Package: stepmania
Version: $STEPMANIA_VERSION
Section: contrib
Priority: optional
Architecture: armv7l
Depends: 
Maintainer: Matthias Rozensztok <SpottyMatt@gmail.com>
Description: An advanced cross-platform rhythm game for home and arcade use.

