Package: stepmania
Version: $STEPMANIA_VERSION
Section: contrib/games
Priority: optional
Architecture: $ARCH
Depends: $STEPMANIA_DEPS
Maintainer: Matthias Rozensztok <SpottyMatt@gmail.com>
Description: Advanced cross-platform rhythm game for home and arcade use.
 This package was specifically built for the Raspberry Pi platform.
 For more information about the process used to create this package,
 visit https://github.com/SpottyMatt/stepmania-raspi-deb
Homepage: https://github.com/stepmania/stepmania

